USE [master]
GO
/****** Object:  Database [DataBase]    Script Date: 2022/9/18 下午 02:13:11 ******/
CREATE DATABASE [DataBase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DataBase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER_2019\MSSQL\DATA\DataBase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DataBase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER_2019\MSSQL\DATA\DataBase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DataBase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DataBase]
GO
/****** Object:  Table [dbo].[Data]    Script Date: 2022/9/18 下午 02:13:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Data](
	[ID] [tinyint] IDENTITY(1,1) NOT NULL,
	[Data] [varchar](50) NOT NULL,
	[DateTime] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Data] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 2022/9/18 下午 02:13:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [tinyint] IDENTITY(1,1) NOT NULL,
	[Account] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[PermissionID] [tinyint] NOT NULL,
	[Token] [varchar](600) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserPermission]    Script Date: 2022/9/18 下午 02:13:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPermission](
	[PermissionID] [tinyint] IDENTITY(1,1) NOT NULL,
	[PostPerm] [bit] NOT NULL,
	[PutPerm] [bit] NOT NULL,
	[DeletePerm] [bit] NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Data] ON 

INSERT [dbo].[Data] ([ID], [Data], [DateTime]) VALUES (2, N'PostString', N'18:02:00.0000000')
INSERT [dbo].[Data] ([ID], [Data], [DateTime]) VALUES (18, N'NewTestString', N'10:12:00.0000000')
INSERT [dbo].[Data] ([ID], [Data], [DateTime]) VALUES (19, N'', N'10:12:00.0000000')
SET IDENTITY_INSERT [dbo].[Data] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [Account], [Password], [PermissionID], [Token]) VALUES (1, N'post', N'0000', 2, N'eyJhbGciOiJodHRwOi8vd3d3LnczLm9yZy8yMDAxLzA0L3htbGRzaWctbW9yZSNobWFjLXNoYTUxMiIsInR5cCI6IkpXVCJ9.eyJodHRwOi8vc2NoZW1hcy54bWxzb2FwLm9yZy93cy8yMDA1LzA1L2lkZW50aXR5L2NsYWltcy9uYW1lIjoicG9zdCIsIlBvc3RQZXJtIjp0cnVlLCJQdXRQZXJtIjpmYWxzZSwiRGVsZXRlUGVybSI6ZmFsc2UsImV4cCI6MTY2MzQ4MTg1MywiaXNzIjoiQ1JVRElzc3VlciIsImF1ZCI6IkNSVURBdWRpZW5jZSJ9.mGutPH7AqQxX9xITqGn4HvgKo-8GMFjCxagLvldp2BNzgAJ8fqJtPRExiXGeAZK2gYmzxJeBWdmNQXLZTeeDSA')
INSERT [dbo].[User] ([UserID], [Account], [Password], [PermissionID], [Token]) VALUES (2, N'put', N'0000', 3, N'eyJhbGciOiJodHRwOi8vd3d3LnczLm9yZy8yMDAxLzA0L3htbGRzaWctbW9yZSNobWFjLXNoYTUxMiIsInR5cCI6IkpXVCJ9.eyJodHRwOi8vc2NoZW1hcy54bWxzb2FwLm9yZy93cy8yMDA1LzA1L2lkZW50aXR5L2NsYWltcy9uYW1lIjoicHV0IiwiUG9zdFBlcm0iOmZhbHNlLCJQdXRQZXJtIjp0cnVlLCJEZWxldGVQZXJtIjpmYWxzZSwiZXhwIjoxNjYzNDgxODgxLCJpc3MiOiJDUlVESXNzdWVyIiwiYXVkIjoiQ1JVREF1ZGllbmNlIn0.Q-2EH59Ykd2YXbAA0NzTRgJ0Q9i5IrBwpYwxbDr3sYV6MwOM1gdVIoBkX2gxaPZlM0bqayb-k6LSjfMXJkPTSA')
INSERT [dbo].[User] ([UserID], [Account], [Password], [PermissionID], [Token]) VALUES (3, N'delete', N'0000', 4, N'eyJhbGciOiJodHRwOi8vd3d3LnczLm9yZy8yMDAxLzA0L3htbGRzaWctbW9yZSNobWFjLXNoYTUxMiIsInR5cCI6IkpXVCJ9.eyJodHRwOi8vc2NoZW1hcy54bWxzb2FwLm9yZy93cy8yMDA1LzA1L2lkZW50aXR5L2NsYWltcy9uYW1lIjoiZGVsZXRlIiwiUG9zdFBlcm0iOmZhbHNlLCJQdXRQZXJtIjpmYWxzZSwiRGVsZXRlUGVybSI6dHJ1ZSwiZXhwIjoxNjYzNDgxOTExLCJpc3MiOiJDUlVESXNzdWVyIiwiYXVkIjoiQ1JVREF1ZGllbmNlIn0.09HX4IezBjrpqGs-HBiH6T0SE3qVPUgt8d4XLiY8d0ddEBTDwCBwaqYWtrMMdf4J8FpR6Zsq8VmZvk9OhXuE4g')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[UserPermission] ON 

INSERT [dbo].[UserPermission] ([PermissionID], [PostPerm], [PutPerm], [DeletePerm]) VALUES (1, 1, 1, 1)
INSERT [dbo].[UserPermission] ([PermissionID], [PostPerm], [PutPerm], [DeletePerm]) VALUES (2, 1, 0, 0)
INSERT [dbo].[UserPermission] ([PermissionID], [PostPerm], [PutPerm], [DeletePerm]) VALUES (3, 0, 1, 0)
SET IDENTITY_INSERT [dbo].[UserPermission] OFF
GO
/****** Object:  Index [PK_User]    Script Date: 2022/9/18 下午 02:13:11 ******/
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [PK_User] PRIMARY KEY NONCLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_UserPermission]    Script Date: 2022/9/18 下午 02:13:11 ******/
ALTER TABLE [dbo].[UserPermission] ADD  CONSTRAINT [PK_UserPermission] PRIMARY KEY NONCLUSTERED 
(
	[PermissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[User]  WITH NOCHECK ADD  CONSTRAINT [FK_User_UserPermission] FOREIGN KEY([PermissionID])
REFERENCES [dbo].[UserPermission] ([PermissionID])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[User] NOCHECK CONSTRAINT [FK_User_UserPermission]
GO
USE [master]
GO
